/*** theme overrides ***/

@media screen and (min-width: 1100px) {
  .wy-nav-content-wrap {
    background: initial;
  }
}

p {
  font-size: 15px;
}

h3 {
  color: gray;
}

/*** end theme overrides ***/

.anchorjs-link {
  font-size: 20px !important;
  color: #000; }

/* no dark box in sidebar ... content takes remaining width */
.page-wrapper {
  background: #fff;
  margin-left: 280px; }
  .page-wrapper .dark-box {
    display: none; }

.content > h1, .content > h2, .content > h3, .content > h4, .content > h5, .content > h6, .content > p, .content > table, .content > ul, .content > ol, .content > aside, .content > dl {
  margin-right: 0;
  text-shadow: none;
  background-image: none; }

.content > h5 {
  font-size: 13px;
  color: #333; }

.content h1:first-child, .content div:first-child + h1 {
  padding-top: 5px; }

.content p, .content li, .content dt, .content dd {
  line-height: 1.8; }

.content > h6, html, body {
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
  /* Arimo is a google font */
  font-weight: 300; }


pre {
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 10px;
  width: auto; 
  background-color: #292929;
  color: #fff;
}

    .content pre p, .content blockquote p {
      background-color: inherit;
      color: #333;
      border: none; }


  .content h1.dark {
    background: #f0592a;
    color: #fff;
    border-bottom: 0; }
  .content h1, .content h2, .content h3, .content h4 {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
    color: #f0592a;
    line-height: 140%;
    font-weight: bold; }
  .content h1 {
    font-size: 40px;
    border-top: none;
    border-bottom-color: #efefef;
    color: #f0592a;
    margin-left: 20px;
    padding-left: 10px; }
  .content h2 {
    font-size: 30px;
    color: #511d62; }
  .content h3 {
    font-size: 20px; }
  .content h4 {
    font-size: 15px;
    color: gray; }

#logo {
  width: 50%;
  padding: 15px 5% 10px; }

.tocify-wrapper {
  width: 280px;
  font-size: 15px;
  font-weight: normal; }

.tocify-wrapper .tocify-subheader .tocify-item > a {
  padding-left: 25px;
  font-size: 14px; }

.tocify-wrapper ul, .tocify-wrapper li {
  line-height: 45px; }

.rst-content code {
  white-space: nowrap; 
  background-color: rgba(0,0,0,0.05);
    padding: 3px;
    border-radius: 3px;
    color: initial;
}

/*** lookup table ***/
.content table tr:last-child {
  border-bottom: none; }

table.lookup {
  font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  margin-bottom: 40px; }
  table.lookup code {
    font-size: 11px; }

table.lookup thead th {
  color: gray;
  text-transform: uppercase;
  font-size: 12px; }

table.lookup th {
  border-bottom: 1px solid #efefef;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  font-size: 13px;
  line-height: 180%;
}

.content table.lookup th, table.lookup tr > td {
  border-bottom: 1px solid #efefef;
  padding: 10px;
  line-height: 180%;
  background-color: #fff;
  font-size: 13px;
  vertical-align: top; 
}

.content > ul {
  padding-left: 63px; }

.content table tr:nth-child(odd) > td, .content table tr:nth-child(even) > td, table.lookup tbody th {
  background-color: #fff;
  border-bottom: 1px solid #efefef; }

table.help.install > tbody > tr > td {
  border-bottom: none; }
table.help span.step, table.help span.done {
  background: #7aae37;
  padding: 5px 10px;
  border-radius: 2px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: Helvetica, Arial;
  vertical-align: middle; }
table.help h2 {
  line-height: 50px; }
table.help span.done {
  background: green; }
table.help li {
  margin: 7px 0; }
  table.help li .terminal {
    padding: 2px; }
table.help td {
  vertical-align: top;
  /*border-top: 1px solid #eee;*/
  padding: 20px 0; }
  table.help td h2 {
    margin-top: 17px; }
table.help tr td:first-child {
  padding-right: 20px; }
table.help tr td:last-child span.step {
  height: 24px;
  line-height: 24px;
  border-radius: 13px;
  font-size: 18px;
  width: 26px;
  margin-right: 6px; }
table.help tr td p:first-child {
  font-weight: bold;
  line-height: 45px;
  /* step height */ }
table.help tr td p {
  padding-bottom: 5px;
  margin: 0; }
table.help tr p.indent {
  margin-left: 36px; }

.content .search-highlight {
  text-shadow: none;
  background: #fbaf42;
  color: #333; }

.content aside {
  font-weight: bold;
  font-size: 16px;
  color: #fff; }
  .content aside:before {
    font-size: 16px; }
  .content aside.warning {
    background-color: #f0592a; }
  .content aside.notice {
    background-color: #7aae37; }

.tocify-wrapper > .search:before {
  left: 25px; }

.tocify-wrapper > .search input {
  background: #000;
  border-width: 1px;
  border-color: #666;
  padding: 6px 0 6px 35px;
  box-sizing: border-box;
  margin: 10px 15px;
  width: 230px;
  outline: none;
  color: #fff;
  border-radius: 3px;
  font-size: 14px; }
